<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <style>position: fixed;
			width: 60px;
			height: 60px;
			bottom: 40px;
			right: 40px;
			background-color: #25d366;
			color: #fff;
			border-radius: 50px;
			text-align: center;
			font-size: 30px;
			box-shadow: 1px 1px 2px #888;
			z-index: 1000;
    </style>

</head>
<body>
 <div class="card-content">

                    <div class="card-content-area">

                        <label for="usuario">Usuário</label>

                        <input type="text" id="usuario" autocomplete="off">

                    </div>

                    <div class="card-content-area">

                        <label for="password">Senha</label>

                        <input type="password" id="password" autocomplete="off">

                    </div>

                </div>

                <div class="card-footer">

                    <input type="submit" value="login" class="submit">

                    <a href="#" class="recuperar_senha">Esqueceu a senha?</a>
                    <html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Cadastro - PHP + MySQL - Canal TI</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>CRUD - Cadastrar</title>
	</head>
	<body>
		<h1>Cadastrar Usuário</h1>
		<?php
		if(isset($_SESSION['msg'])){
			echo $_SESSION['msg'];
			unset($_SESSION['msg']);
		}
		?>
		<form method="POST" action="processa.php">
			<label>Nome: </label>
			<input type="text" name="nome" placeholder="Digite o nome completo"><br><br>

			<label>E-mail: </label>
			<input type="email" name="email" placeholder="Digite o seu melhor e-mail"><br><br>

			<input type="submit" value="Cadastrar">
		</form>
	</body>
</html>

<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Sistema de Cadastro</h3>
                    <h3 class="title has-text-grey"><a href="https://youtube.com/canaltioficial" target="_blank">Canal TI</a></h3>
                    <div class="notification is-success">
                      <p>Cadastro efetuado!</p>
                      <p>Faça login informando o seu usuário e senha <a href="login.php">aqui</a></p>
                    </div>
                    <div class="notification is-info">
                        <p>O usuário escolhido já existe. Informe outro e tente novamente.</p>
                    </div>
                    <div class="box">
                        <form action="cadastrar.php" method="POST">
                            <div class="field">
                                <div class="control">
                                    <input name="nome" type="text" class="input is-large" placeholder="Nome" autofocus>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="usuario" type="text" class="input is-large" placeholder="Usuário">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <input name="senha" class="input is-large" type="password" placeholder="Senha">
                                </div>
                            </div>
                            <button type="submit" class="button is-block is-link is-large is-fullwidth">Cadastrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>


<body>
    <div id="topo">

	<div class="logo">
	</div><!-- fim logo -->
        <div id="fundo_balas_gourmet">
<div class="box_img1">
</div><! fim box img1 -->

<div class="box_txt1">
  <p>Balas de coco tradicionais com diversos sabores!</p>
  <p>Quantidade da Embalagem 250g valor de R$ 13,00 Reais.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<p><strong>&nbsp;Sabores de Côco Natural, Bala Recheada, Morango, Chocalate, Blue Ice, Abacaxi e Bala Baiana</strong></p>
<p>&nbsp;</p>

</div><!-- fim box txt1 -->
            </div><!-- fim box txt1 -->

<div class="regua">
	</div><!-- fim regua -->

	<div class="grupo_fotos">

    </div><! fim grupos fotos -->

<div class="rodape">
	 </div><!-- fim rodape -->

</div><!-- fim fundo Balas Gourmet -->

<div id="balas_recheadas">
<div class="box_img3">
</div><! fim box img3 -->

<div class="box_txt2">
  <p>Balas de coco tradicionais com diversos sabores!</p>
  <p>Quantidade da Embalagem 250g valor de R$ 13,00 Reais.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
<p><strong>&nbsp; Sabores de Côco Natural, Bala Recheada, Morango, Chocalate, Blue Ice, Abacaxi e Bala Baiana</strong></p>
<p>&nbsp;</p>

</div><!-- fim box txt2 -->

<div class="regua2">
	</div><!-- fim regua -->

	<div class="grupo_fotos2">


            <img src="COCO TRADICIONAL.jpeg">

            <img src="Bala Recheada.jpeg">

            <img src="Morango.jpeg">

            <img src="Chocolate.jpeg">

            <img src="Blue Ice.jpeg">

            <img src="Abacaxi.jpeg">

     <h1>Bala Baiana<h1>
            <img src="Bala Baiana.jpeg">




</html>